.buy-container
  = render "users/login-header"
  .buy-main
    %section.buy-item-container
      %h2 購入内容の確認
      %section.buy-content
        .buy-content__inner
          %h3.buy-item-image
            = image_tag "smile.png",height:"64px",width:"64px"
          %p.buy-item-name
            《送料無料》The スマイル
          %form.buy-form
            %p.buy-price 
              ¥0
              %span 
                送料込み
            .buy-price-table
              .buy-price-table__left 支払い金額
              .buy-price-table__right
                %span ¥ 0
            %button{type:"submit",class:"buy-btn"}購入する

      %section.user-info
        .buy-content__inner
          %h3 配送先
          .user-address
            〒150-0041
            %br
            東京都渋谷区神南1丁目18−2
            %br
            南 ゆうき
          .user-info-fix
            = link_to "#" do
              変更する
              %i.fa.fa-chevron-right

      %section.user-info
        .buy-content__inner
          %h3 支払い方法
          - if @default_card_information.blank?
            %br /
          - else
            -#以下カード情報を表示
            = "**** **** **** " + @default_card_information.last4
            - exp_month = @default_card_information.exp_month.to_s
            - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
            = exp_month + " / " + exp_year
          
          .user-info-fix
            = link_to "#" do
              変更する
              %i.fa.fa-chevron-right




  = render "users/login-footer"