.pickup-content
  = link_to sell_path(product.id) do
    %figure.content__box
      .img_content
      - if product.images[0].present?
        = image_tag product.images[0].gazou.url, class:'pickup-content__img'
        .img_title
          %p.img_price 
            = "¥#{product.price}"
          - unless product.status == 0
            .product-tag-sold-out-top
              .sold-out-text-top SOLD
          - else
            .none-sold
      - else
        = image_tag "", class:'pickup-content__img'
    %figcaption.text__box 
      %h3.item-label
        = product.name
      .view-controller  
        .like-zone
          %span.like-count
            = fa_icon "heart",id:"l-btn-grey"
            = product.likes.length