.product-exhibit
  =render 'users/login-header'
  .product-exhibit-main
    %section
      %h2.bold
        商品の情報の入力
      -# = form_for @product do |f|
      = form_for @user do |f|
        = render 'shared/error_messages', model: f.object
        .sell-upload-box
          %h3.bold
            出品画像
            %span
              必須
          %p
            最大5枚までアップロードできます
          .dropzone
            .dropzone__container
              = f.fields_for :image do |image|
                .dropzone__container__dot
                  #preview
                  .dropzone-area
                    = image.label :image, class: "dropzone-box", for: "upload-image__btn" do
                      .input_area
                        = image.file_field :image, id: "upload-image__btn", class: "upload-image", 'data-image': 0, type: "hidden", name: "product[images_attributes][0][image]"
                      %p
                        ドラッグアンドドロップ
                        %br
                        またはクリックしてファイルをダウンロード
        .sell-content
          .form-group#form-group-first
            %label.bold
              商品名
              %span
                必須
            = f.text_field :nickname, id: "input-default",  placeholder: "商品名（必須 40文字まで)"
          .form-group
            %label.bold
              商品の説明
              %span
                必須
            = f.text_area :nickname, class: "textarea-default", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows: "5"
        .sell-content.clearfix
          %h3.sub-head
            商品の詳細
          .sell-form-box
            .form-group#margin-0
              %label.bold
                カテゴリー
                %span
                  必須
              %div
                .select-wrap
                  %i.fa.fa-angle-down
                  = f.collection_select :prefecture, Prefecture.all, :id, :name,{prompt: "--"}, class: "select-default"
                  -# = f.collection_select :category, @category, :id, :name, {prompt: '---'}, class: "select-default", id: "category_parent"
                .display_none.select-wrap
                  %i.fa.fa-angle-down
                  %select.select-default#category_children

                .display_none.select-wrap
                  %i.fa.fa-angle-down
                  %select.select-default#category_grandchildren
                  
            .form-group
              %label.bold
                商品の状態
                %span
                  必須
              %div
                .select-wrap
                  %i.fa.fa-angle-down
                  = f.collection_select :prefecture, Prefecture.all, :id, :name,{prompt: "--"},class:"select-default"
                  -# = f.select :state, Product.states.keys,{prompt: '---'},class:"select-default"
        .sell-content.clearfix
          %h3.sub-head
            配送について
          = link_to "?", 'https://www.mercari.com/jp/help_center/article/68/', class:"form-question" 
          .sell-form-box
            .form-group#margin-0
              %label.bold
                配送料の負担
                %span
                  必須
              %div
                .select-wrap
                  %i.fa.fa-angle-down
                  = f.collection_select :prefecture, Prefecture.all, :id, :name,{prompt: "--"},class:"select-default"
                  -# = f.select :fee_payer, Product.fee_payers.keys,{prompt: '---'},class:"select-default"
            .form-group
              %label.bold
                配送の方法
                %span
                  必須
              %div
                .select-wrap
                  %i.fa.fa-angle-down
                  = f.collection_select :prefecture, Prefecture.all, :id, :name,{prompt: "--"},class:"select-default"
                  -# = f.select :delivery, Product.deliveries.keys,{prompt: '---'},class:"select-default"
            .form-group
              %label.bold
                発送元の地域
                %span
                  必須
              %div
                .select-wrap
                  %i.fa.fa-angle-down
                  = f.collection_select :prefecture, Prefecture.all, :id, :name,{prompt: "--"},class:"select-default"
                  -# = f.select :city, Product.cities.keys,{prompt: '---'},class:"select-default"
            .form-group
              %label.bold
                発送までの日数
                %span
                  必須
              %div
                .select-wrap
                  %i.fa.fa-angle-down
                  = f.collection_select :prefecture, Prefecture.all, :id, :name,{prompt: "--"},class:"select-default"
                  -# = f.select :delivery_time, Product.delivery_times.keys,{prompt: '---'},class:"select-default"
        .sell-content.clearfix
          %h3.sub-head
            販売価格(300〜9,999,999)
          = link_to "?", 'https://www.mercari.com/jp/help_center/article/64/', class:"form-question" 
          .sell-form-box
            %ul
              %li.form-group#margin-0
                .clearfix
                  %label.sell-price-title.bold
                    価格
                    %span
                      必須
                  .sell-price-input
                    ¥
                    .sell-price-input__box
                      = f.number_field :nickname, min:300, max:9999999, class: "input-default", id: "sell-price", placeholder: "例）300"
              %li.form-group.border
                .clearfix
                  .sell-price-title
                    販売手数料(10%)
                  .sell-price-input
                    =@user.nickname
                    .right
                      #mercari_fee
              %li.form-group.border
                .clearfix
                  .sell-price-title.bold
                    販売利益
                  .sell-price-input
                    =@user.nickname
                    .right
                      #seller_gain
        .exhibit-form
          .sell-content.exhibit-btn
            = f.submit "変更する", class:"button",id: "product_botton"
            = link_to "キャンセル", root_path,class:"back-btn"
  =render 'users/login-footer'