=render "shared/header"
.detail-container
  .detail-adjustment
    %section
      %h1 
        = @sellitem.name
      .detail-main
        .item-photo
          .photo
            = image_tag @sellitem.images[0].gazou.url, size:"300x300"
          .mini-photo
            = image_tag "smile.jpg", size:"60x60"
        %table
          %tbody
            %tr
              %th 出品者
              %td
                = link_to "#", class:"user-name" do
                  ダルビッシュ
                .user-rate
                  .user-rate__left
                    = fa_icon "smile-o"
                    %span 12
                  .user-rate__center
                    = fa_icon "meh-o"
                    %span 0
                  .user-rate__right
                    = fa_icon "frown-o"
                    %span 0
            %tr
              %th カテゴリー
              %td.category
                = @category.name
                
            %tr
              %th ブランド
              %td
                TECH::EXPERT
                -# = @sellitem.category_id
            %tr
              %th 商品の状態
              %td 
                = Condition.find(@sellitem.condition).name
            %tr
              %th 配送料の負担
              %td
                = Cost.find(@sellitem.send_cost).name
            %tr
              %th 配送の方法
              %td
                = Post.find(@sellitem.send_method).name
            %tr
              %th 配送元の地域
              %td
                = Prefecture.find(@sellitem.send_place).name
            %tr
              %th 発送日の目安
              %td
                = Day.find(@sellitem.send_day).name

        .item-pricebox
          %span.item-pricebox__price
            ¥
            = @sellitem.price
          %span.item-pricebox__tax  (税込)
          %span.item-pricebox__postage 送料込み
           

          -#        -# sellitemのuser_idが、ログイン中のユーザーのidと同じならば
          -# -if @sellitem.user_id == current_user.id
          -#   = link_to edit_sell_path(@sellitem), data: {turbolinks: false} do
          -#     .product-edit-btn 商品の編集
          -#     .product-btn-or or
          -#     .product-stop-btn 出品を一旦停止する
          -#   = link_to sell_path(@sellitem), method: :delete, data: { turbolinks: false} do
          -#     .product-stop-btn この商品を削除する   
          -# -else 
          -#   -if @sellitem.present? # -if @sellitem.status == 0    statusカラムを作成後解除
          -#     = link_to "購入画面に進む", {controller: "purchase",action: "index",sell_id: @sellitem.id},class:"purchase_btn", data: {turbolinks: false}
          -#   -else
          -#     .product-buy-btn-sold 売り切れました
        .purchase-box
          = link_to edit_sell_path(@sellitem), data: {turbolinks: false} do
            .product-edit-btn 商品の編集
            .product-btn-or or
            .product-stop-btn 出品を一旦停止する
          = link_to  delete_sells_path(@sellitem), method: :delete, data: { turbolinks: false} do
            .product-stop-btn この商品を削除する
          = link_to "購入画面に進む", {controller: "purchase",action: "index",sell_id: @sellitem.id},class:"purchase_btn"


        .item-coment
          %p.item-coment__inner 新品で購入し、タンスの中で眠っていました。
        .item-button
          .item-button__left
            %button{type: "button",class:"like-button"}
              = fa_icon "heart"
              %span いいね
            = link_to "#",class:"report" do
              = fa_icon "flag"
              %span 不適切な商品の報告
          .item-button__right
            = link_to "#",class:"safety" do
              = fa_icon "lock"
              %span あんしん・あんぜんへの取り組み

    .item-message
      .message-content
        %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %textarea{type:"text",class:"area"}
        %button{type:"submit"}
          %span コメントする

    .nav-link.clearfix
      .prev-link
        =fa_icon "chevron-left"
        = link_to "前の商品へ","#"
      .next-link
        = link_to "次の商品へ","#"
        = fa_icon "chevron-right"

    .social-media-box
      %ul
        %li.facebook
          = link_to "#",class:"facebook" do
            = fa_icon "facebook-square"      
        %li.twitter
          = link_to "#",class:"twitter" do
            = fa_icon "twitter-square"
        %li.pinterest
          = link_to "#",class:"pinterest" do
            = fa_icon "pinterest-square"        


=render "shared/footer"