<!DOCTYPE html>
<html>
  <head>
    <title>FreemarketSample57TeamNightA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
<%# ヘッダー %>
    <header class="">
      <div class="">
        <%# ヘッダー上半分 %>
        <div class="header-up">
          <div class="logo">
            <a></a>
          </div>
          <form class="search-bar">
            <input type="search" placeholder="何かお探しですか？">
            <button></button>
          </form>
        </div>
        <%# ヘッダー下半分 %>
        <div class="header-under">
          <div class="search">
            <div class="category">
              <a>カテゴリーから探す</a>
            </div>
            <div class="brand">
              <a>ブランドから探す</a>
            </div>
          </div>

          <div class="registration">
            <div class="signup">
              <a>新規会員登録</a>
            </div>
            <div class="login">
              <a>ログイン</a>
            </div>
          </div>
        </div>
      </div>
    </header>

<%# スライド〜商品一覧 %>
    <div class="main">
      <div class="">
        <div class="slide">
          <a></a>
          <div class="slider">
            <div class="flame"></div>
            <div class="left"></div>
            <div class="right"></div>
            <div class="bottom"></div>
          </div>
        </div>
      </div>
    </div>

<%# 画面右下にいつもいる出品マーク %>
    <div class="">
      <a></a>
    </div>

<%# 今すぐ無料ダウンロード %>
    <div class="aside">
      <div>
        <div class="aside-left">
          <div>スマホでかんたんフリマアプリ</div>
          <div>今すぐ無料ダウンロード！!</div>
          <div>
            <img>
            <a></a>
            <a></a>
          </div>
        </div>
        <figure class="aside-right">
          <img>
        </figure>
        </div>
      </div>
    </div>

<%# フッター %>
    <div class="footer">
      <nav class="">
        <div>
          <h2>メルカリについて</h2>
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <a></a>
            <a></a>
          </ul>
        </div>
        <div>
          <h2>ヘルプ&ガイド</h2>
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div>
          <h2>プライバシーと利用規約</h2>
          <div>
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
          <div>
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
        <div>
          <h2>国</h2>
          <ul>
            <li>
              <a>日本</a>
              <a>United States</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="footer-logo">
        <a></a>
        <span>© 2019 Mercari</span>
      </div>
    </div>



  </body>
</html>
